<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleIdentifier</key>
  <string>com.brettbukowski.LaunchBar.actions.backblaze.pauseSync</string>
  <key>CFBundleIconFile</key>
  <string>/Applications/Backblaze.app/Contents/Resources/BzLogo.icns</string>
  <key>CFBundleName</key>
  <string>Backblaze Actions: Pause Sync</string>
  <key>CFBundleVersion</key>
  <string>1.0</string>
  <key>LBAbbreviation</key>
  <string>bbzp</string>
  <key>LBScripts</key>
  <dict>
    <key>LBDefaultScript</key>
    <dict>
      <key>LBScriptName</key>
      <string>default.sh</string>
      <key>LBRunInBackground</key>
      <true/>
    </dict>
  </dict>
  <key>LBDescription</key>
  <dict>
    <key>LBSummary</key>
    <string>If a backup is running, this politely asks it to pause</string>
    <key>LBAuthor</key>
    <string>Brett Bukowski</string>
    <key>LBEmail</key>
    <string>brett.bukowski@gmail.com</string>
    <key>LBWebsite</key>
    <string>http://brettbukowski.com</string>
    <key>LBTwitter</key>
    <string>@BrettBukowski</string>
  </dict>
</dict>
</plist>
